body{
   background-color: #000000;
}
.head{
    background-color: #212121;
    width:100%;
    height:100px;
}

.searchbar input[type=text] {
    display: flex;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 13px;
    float: right;
}

.logo {
    color: white;
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 3vw;
    position: absolute;
    top: 6%;
    left: 9%;
    transform: translate(-50%, -50%);
    }
    .logo span:nth-child(2) {
        background: #FF9900;
        color: #000000;
        border-radius: 1vw;
        padding: 0 1vw 1vw 1vw;
        display: inline-block;
        }
